# ignore env
venv

# ignore pyc
__pycache__

# ignore pycharm idea
.idea

# local sqlite database
db.sqlite3

# test download path
.pytest_cache
/test/test-download-html/
/test/test-download-media-static/
/test/test-replace-output/

# test config local
/test/config_local.py

# local service html download path
/download-blog/

# ignore the mac file .DS_Store
.DS_Store
